<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Joe Macmillan</h1>
    <h2>About</h2>
    <ul>
        <li><a href="home">HOME</a></li>
        <li><a href="about">About</a></li>
        <li><a href="works">Works</a></li>
    </ul>
    <p>Por si alguien no ha visto la serie todavía (¡deberías!), primero haremos un breve resumen de su argumento. Joe
        MacMillan, antiguo empleado de IBM, llega a Cardiff Electric escondiendo sus verdaderas intenciones. Allí
        consigue convencer a Gordon Clark, un antiguo ingeniero de sistemas reconvertido, para que trabaje con él. ¿El
        objetivo? Aplicar ingeniería inversa sobre un IBM PC para recrear el código ensamblador de su BIOS. Lo consiguen
        en un fin de semana.

        Por desgracia para Cardiff Electric, IBM se entera de lo que estos dos empleados están tramando y denuncia a la
        empresa por vulnerar su propiedad intelectual. La única forma que tienen de librarse del asunto es crear una
        nueva división de PC dentro de Cardiff Electric y contratar a un programador (programadora, en este caso:
        Cameron) que no tenga nada que ver con el proyecto y pueda recrear el mismo código ensamblador a partir de unas
        especificaciones del mismo que le pasen.

        El objetivo de Joe MacMillan es construir el primer PC portable que, además, sea compatible con el software que
        funcionaba en un IBM PC. El ser una empresa pequeña y tener que competir con uno de los gigantes de la industria
        como es IBM no resulta nada fácil para los protagonistas de la historia, que ven cómo su proyecto está a punto
        de fracasar en varias ocasiones. La hora de la verdad llega en el COMDEX de Las Vegas. ¿Estará su ordenador
        Giant a punto?</p>
</body>

</html>