<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Joe Macmillan</h1>
    <h2>Works</h2>
    <ul>
        <li><a href="home">HOME</a></li>
        <li><a href="about">About</a></li>
        <li><a href="works">Works</a></li>
    </ul>
    <p>
        Lo cierto es que la serie consigue trasladarnos a los 80 con una ambientación exquisita y tienen muchos detalles
        que demuestran que han hecho su investigación para ello (Byte Magazine, product placement de productos de la
        época y hasta la música, entre otros). La historia resulta ser una buena representación de lo que a comienzos de
        aquella década estaba sucediendo en la Silicon Praire de Texas, donde se desarrolló fundamentalmente la guerra
        de los primeros ordenadores y sistemas operativos.
    </p>
</body>

</html>